<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>My first Angular app, I am so Happy</h1>

<app-navbar></app-navbar>
<app-post></app-post>
<p>{{ message }} </p>

<!-- This is string Interpolation -->
<img src="{{ imgUrl }}" alt="">

<!-- Properrty Binding -->

<img [src] ="imgUrl" alt="">


